<%- include('header');-%>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <div class="container">
    <div class="row">
      <div class="col-md-2" id="post_container">
        <div>
          <%if(user.profile.data!=null){%>
            <img class="rounded-circle mt-3" width="50px"
              src="data:user.profile/<%=user.profile.contentType %>;base64,<%=user.profile.data.toString('base64')%>"
              alt="user image">
            <h6>
              <%=user.name%>
            </h6>
            <%}else{%>
              <img class="rounded-circle mt-5" width="50px"
                src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-glasses-profile.jpg"
                alt="user image">
              <h6>
                <%=user.name%>
              </h6>
              <%}%>
        </div>
        <form action="/post" method="post" onsubmit="return posts()">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Write Your Post..</label>
            <textarea class="form-control" id="postdetail" rows="3" name="post"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Create Post</button>
        </form>
      </div>
      <div class="col-md-2" id="scroller">
        <div style="overflow-y:scroll; height:600px;width:800px;" id="content">
          <%if(post){%>
          <%for(var i=0;i<post.length;i++){%>
            <div class="container my-3 post1 my-2">

              <div class="d-flex flex-row user-info my-2 mx-2">
                <div>
                  <img class="rounded-circle"
                    src="data:post[i].author.profile/<%=post[i].author.profile.contentType %>;base64,<%=post[i].author.profile.data.toString('base64')%>"
                    width="35">
                  <h6>
                    <%=post[i].author.name%>
                  </h6>
                </div>
                <div class="mx-4">
                  <h4>
                    <%=post[i].description%>
                  </h4>
                </div>
                <div>
                </div>
              </div>
              <div class="small d-flex justify-content-start">
                <form action="/likes/<%= post[i]._id%>" method="post">
                  <button class=" btn btn-danger mx-2" type="submit">
                    <%=post[i].likes.length%><i class="fa-solid fa-thumbs-up"></i>
                  </button>
                </form>
                <button type="button" class="btn btn-info mx-2" onclick="toggleComments('<%= post[i]._id %>')"><i
                    class="fa-regular fa-comments"></i></button>

                <!-- Include a script to toggle the visibility of the comment section -->
                
              </div>
              <div id="comments-<%= post[i]._id %>" style="display:none;">

                <div class="comment<%=i%>">

                 <% if (post[i].comments){%>
                         <ul>
                            <% post[i].comments.forEach(function(comment){ %>
                              <div class="d-flex flex-row user-info my-2 mx-2" style="background-color: aliceblue; border-radius: 10px; height: auto;">
                                <div>
                                  <img class="rounded-circle"
                                    src="data:comment.postedBy.profile/<%=comment.postedBy.profile.contentType %>;base64,<%=comment.postedBy.profile.data.toString('base64')%>"
                                    width="25">
                                  <h6>
                                    <%= comment.postedBy.name %>
                                  </h6>
                                </div>
                                <div class="mx-4">
                                  <h6>
                                    <%= comment.text %> 
                                  </h6>
                                </div>
                                <div>
                                </div>
                              </div>
                            
                         <% }) %>
                         </ul>
                <% } %>
                </div>
                <form action="/comment/<%= post[i]._id %>" method="post" align="right">
                  <textarea  placeholder="Add a comment" id="comment<%= post[i]._id %>" name="comments"></textarea>
                  <br>
                  <button type="submit" class="btn btn-primary">Comment</button>
                </form>
              </div>
             
            </div>
            <%}%>
           <%}%>

        </div>
      </div>
    </div>
  </div>
  <script>
    function toggleComments(postId) {
      var commentsDiv = document.getElementById("comments-" + postId);
    if (commentsDiv.style.display === "none") {
      commentsDiv.style.display = "block";
    } else {
      commentsDiv.style.display = "none";
    }
    }
  </script>
  <script src="javascript/formvalidation.js"></script>

  <%- include('footer');-%>